/*
I split the css into two files so that I can have two strokes
as punishment for my sins.

*/

$border-width: 4px;
$background-highlight: #F8F7F7;
$background-hover: #DCDCDC;
$sky: #183dd1;
$zero: #424242;
$steel: #ea332d;
$reverie: rgb(206, 206, 206);
$daybreak: rgb(201, 178, 65);
$glasses: ("sky": $sky, "steel": $steel, "reverie": $reverie, "zero": $zero, "daybreak": $daybreak);

@mixin row($col, $row){
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-wrap: wrap;

    display: grid;
    grid-template-columns: repeat($col, 1fr);
    grid-template-rows: repeat($row, 1fr);

    column-gap: 10%;
    row-gap: 20px;
    padding-top: -20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    min-width: 90%;
    width: 0px;
    max-width: 90%;

    min-height: fit-content;

    transition: ease-in-out all .5s;

    background-color: $background-highlight;

    &:hover {
        background-color: $background-hover;
    }
}

@media only screen {
    td {
        min-width: 100px;
        min-height: 100px;
        width: 100px;
        height: 100px;
        text-align: center;
        vertical-align: middle;
        border-width: 6px;
        transition: ease-in-out all .5s;
    }    
    
    .power-grid {
        font-size: 23px;
    }    

    .tab-row {
        /*Don't ask*/
        transform: translateX(3%);
    }

    .extra-right {
        /*Really Don't ask. I thought my css was pretty clean, up until now*/
        transform: translateX(2.5%) !important;
    }
}

@for $i from 0 through 8 {
    @media only screen and (max-width:(2000px - ($i * 100))) {
        td {
            min-width: (70px - ($i * 4.5));
            min-height: (70px - ($i * 4.5));
            width: (70px - ($i * 4.5));
            height: (70px - ($i * 4.5));
            text-align: center;
            vertical-align: middle;
        }    
    
        .column-scroll {
            font-size: (23px - ($i * 0.5));

            h4 {
                font-size: (32px - ($i * 0.5));
            }
        }

        .glass-menu {
            width: (40px - ($i * 5)) !important; 
            height: (40px - ($i * 5)) !important; 
            border-width: (6px - ($i * .2)) !important; 
        }

        .bottom-info {
            max-width: ((80px - ($i * 5)) * 8 - 10);
        }

        .tab-row {
            /*Don't ask*/
            transform: translateX(3% - ($i * .2));
        }


        .extra-right {
            /*Really Don't ask. I thought my css was pretty clean, up until now*/
            transform: translateX(2.4% - ($i * .1)) !important;
        }
    }
}

@for $i from 1 through 15 {
    @media only screen and (max-width:(1250px - ($i * 50))) {

        td {
            min-width: (90px - ($i * 4));
            min-height: (90px - ($i * 4));
            width: (90px - ($i * 4));
            height: (90px - ($i * 4));
            text-align: center;
            vertical-align: middle;
            border-width: 3px !important;
        }    
    
        .column-scroll {
            font-size: 27px;

            h4 {
                font-size: 32px;
            }
        }


        .glass-menu > span {
            width: 40px !important; 
            height: 40px !important; 
            border-width: 5px !important; 
        }

        .tab-row {
            /*Don't ask*/
            transform: translateX(2% - ($i * .3));
        }

        .extra-right {
            /*Really Don't ask. I thought my css was pretty clean, up until now*/
            transform: translateX(3% - ($i * .1)) !important;
        }
    }
}

.glass-menu {
    @include row(3, 4);

    grid-template-areas: 
        '.        title    .'
        'glasses  glasses  glasses'
        'glasses  glasses  glasses'
        'cancel   use      use';

    .title {
        grid-area: title;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 23px;
    }
    
    button {
        font-size: 25px;
    }

    .glasses {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-area: glasses;
        justify-content: center;
        gap: 50px;

        .glass {
            display: grid;
            grid-template-areas:
                'circle'
                'desc';

            min-width: 150px;
            align-items: center;
            justify-items: center;

            span {
                grid-area: circle;

                width: 40px;
                height: 40px;
                
                border-radius: 50%;
                border-color: gray;
                border-width: 5px;
                border-style: solid;
            
                display: inline-block;
                align-self: center;
                
                transition: .9s;
            }
    
            span.sky {
                background-color: $sky;
            }
    
            @each $name, $color in $glasses {
                span.#{$name} {
                    background-color: $color;
                }
            }
    
            span.empty {
                background-color: #fdfcfc !important;
            }

            p {
                grid-area: desc;
            }
        }
    }


    button.cancel {
        margin-left: 10px;
        min-width: 100%;
        grid-area: cancel;
    }

    button.use {
        margin-right: 10px;
        min-width: 100%;
        grid-area: use;
    }
}



.piece-row {
    @include row(3, 3);

    grid-template-areas:
        'name   .     row'
        'img    .     row'
        'take   .     row';

    h4 {
        grid-area: name;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 20px;
    }

    img {
        grid-area: img;
    }

    .row {
        grid-area: row;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        
        button {
            height: min-content;
            font-size: 20px;
            min-width: fit-content;
        }
    }    
    
    .take {
        grid-area: take;
    }

}

.power-grid {
    @include row(5, 4);

    grid-template-areas: 
        'title title title .     .'
        'desc  desc  desc  img   img'
        'desc  desc  desc  img   img'
        'desc  desc  desc  .     .';

    img {
        grid-area: img;

        position: relative;
        max-height: 100px;
        min-height: 100px;
    }

    h4 {
        margin-top: 0px;
        margin-bottom: 0px;
        grid-area: title;
    }
    
    .desc {
        grid-area: desc;
        text-align: center;
    }
}

.see-power {
    @include row(5, 4);

    grid-template-areas: 
        'title title title .     .'
        'desc  desc  desc  img   img'
        'desc  desc  desc  img   img'
        'desc  desc  desc  win   but';

    padding-right: 30px;
    padding-left: 30px;

    img {
        grid-area: img;
        
        position: relative;
        max-height: 150px;
        min-height: 150px;
    }

    h4 {
        grid-area: title;
        margin-top: 30px;
        margin-bottom: 0px;

        font-size: 30px;
    }

    button {
        grid-area: but;

        width: 100%;
        font-size: 20px;
    }

    .win {
        grid-area: win;

        font-size: 20px;
        text-wrap: nowrap;
    }
    
    .desc {
        grid-area: desc;
        text-align: center;
        font-size: 23px;
    }
}

.has-won {
    outline: yellow;
    outline-width: 5px;
    outline-style: solid;
}

.font-20 {
    font-size: 20px;
}

.margin-t-20 {
    padding-top: 20px;
}

.move-right {
    transform: translateX(10%);
}