:root {
    --border-width: 3px;
}

td {
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
}

html, body{
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

img {
    width: 100%;
    height: 100%;
    max-height: inherit;
    object-fit: contain;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 100%;
}

.column {
    display: flex;
    min-height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 35px;
}

.small-column {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center
}

.power-menu {
    flex-wrap: wrap;
}

.power {
    padding: 20px;
    min-height: 60%;
    width: 180px;
    min-width: 180px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: #F8F7F7;
}

.power:hover {
    background-color: #DCDCDC;
}

.column-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 35px;

    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 70%;
    min-height: 70%;
    height: 70%;
    transform: translateY(-5%);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 0px;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .1);
}

.power-row {
    width: 100%;
    min-width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;

    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.power-grid {
    display: grid;
    grid-template-areas: 
        'title title title .     .'
        'desc  desc  desc  img   img'
        'desc  desc  desc  img   img'
        'desc  desc  desc  .     .';

    gap: 10px;
    padding: 5px;
    background-color: #F8F7F7;
    justify-content: center;
    height: 15%;
    min-height: 15%;
    min-width: 100%;
    text-wrap: wrap;
}

.power-grid > img {
    position: relative;
    max-height: 55px;
}

.power-grid:hover {
    background-color: #DCDCDC;
}

.power-grid > h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    grid-area: title;
}

.desc {
    grid-area: desc;
}

.image {
    grid-area: img;
    max-width: 100%;
    max-height: 100%;
}

.power > h1 {
    text-align: center;
    flex-basis: 90px;
}

.unselected {
    border-width: var(--border-width);
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
}

.selected {
    border-width: var(--border-width);
    border-color: blue;
    border-style: solid;
}

.can-move {
    border-width: var(--border-width);
    border-color: green;
    border-style: solid;
}

.can-take {
    border-width: var(--border-width);
    border-color: yellow;
    border-style: solid;
}


.blackTile{
    background-color: darkgrey;
}

.whiteTile {
    background-color: whitesmoke;
}

.rotate {
    transform: rotate(180deg);
}

.small-text {
    font-size: 15px;
}