td {
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
}

html, body{
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100%;
  }

.selected {
    border-width: 3px;
    border-width: 3px;
    border-color: blue;
    border-style: solid;
}

.can-move {
    border-width: 3px;
    border-width: 3px;
    border-color: green;
    border-style: solid;
}

.can-take {
    border-width: 3px;
    border-width: 3px;
    border-color: yellow;
    border-style: solid;
}


.blackTile{
    background-color: darkgrey;
}

.whiteTile {
    background-color: whitesmoke;
}